.radio-page {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;

  .content-container {
    background-color: var(--grey-600);
    padding: 40px;
    border-radius: 10px;

    .tabs-container {
      position: relative;
      padding: 4px;
      border-radius: 10px;
      background-color: var(--grey-500);
      display: flex;
      transition: all .5s;
      
      .tab {
        flex: 1;
        padding: 7px 14px;
        color: var(--grey-25);
        z-index: 2;
        position: relative;
        cursor: pointer;
        width: 100%;
      }

      .active-tab {
        transition: all .5s;
        z-index: 1;
        position: absolute;
        background-color: var(--grey-400);
        border-radius: 10px;
        // width: 50%;
        width: calc(50% - 4px);
        height: 80%;
        // right: 4px;
        // top: 4px;

        &.left {
            transition: all .5s;
            transform: translateX(-86px)
        }
      }

    }
  }
}
