.counter-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-buttons {
    display: flex;
    gap: 20px;
}

.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 400px) {
    .counter-buttons {
      display: flex;
      flex-direction: column;
    }
  }